@{
    ViewData["Title"] = "GBK - Add New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
<h2>Add a New Product</h2>
<hr />
@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name): 
    @Html.TextBoxFor(model => model.Name)</p><br />
    <p>@Html.LabelFor(model => model.Cost):
    @Html.TextBoxFor(model => model.Cost)</p><br />
    <p>@Html.LabelFor(model => model.Origin): 
    @Html.TextBoxFor(model => model.Origin)</p /><br />
    <p>@Html.LabelFor(model => model.Image): 
    @Html.TextBoxFor(model => model.Image)</p /><br />
    <button class="button2" type="submit">Add new product</button>
}
