@{
    ViewData["Title"] = "GBK - Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
<h2>Details</h2>
<hr />
<img src=@Html.DisplayFor(model => model.Image) alt="photo done broke">
<br />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)
@Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin)
<p>@Html.ActionLink("Back to Products", "Index")</p>