@{
    ViewData["Title"] = "GBK - Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<img src=@Html.DisplayFor(model => model.Image) alt="photo done broke">
<br />
<br />
@Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)<br />
@Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin)
<hr />
<button>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId })</button>
<button>@Html.ActionLink("Delete", "Delete", new { id = Model.ProductId })</button>
<br /><br />
<p>@Html.ActionLink("Back to products", "Index")</p>