@{
    ViewData["Title"] = "GBK - Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
<h2>Edit</h2>
<hr />
<h4>Edit this product: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)<br />
    @Html.EditorFor(model => model.Name)<br />

    @Html.LabelFor(model => model.Cost)<br />
    @Html.EditorFor(model => model.Cost)<br />

    @Html.LabelFor(model => model.Origin)<br />
    @Html.EditorFor(model => model.Origin)<br />

    @Html.LabelFor(model => model.Image)<br />
    @Html.EditorFor(model => model.Image)<br />
    <br /><br />
    <button class="button2" type="submit">Save</button>
}   
<br />
<p>@Html.ActionLink("Back to products", "Index")</p>