@{
    ViewData["Title"] = "Gummi Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Product>

<h2>Products</h2>
<ul>
    @foreach (var listProduct in Model)
    {
        <li>
            @Html.DisplayFor(modelProduct => listProduct.Name) | @Html.ActionLink("Details", "Details", new { id = listProduct.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listProduct.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listProduct.ProductId })
        </li>
    }
</ul>
<p>@Html.ActionLink("Add new product", "Create")</p>
